nav{
    background-color: burlywood;
}
nav.menu a{
text-decoration: none;
margin-left: 20px;
color: lightgray;
}
nav a:hover{
    color: brown;
}
h1{
    text-align: center;
    font-variant: small-caps;
}
body{
    font-family: 'Potta One', cursive;
    font-weight: bolder;
}
.col-lg-3{
    float: left;
    
}
.col-lg-3 a{
    text-align: center;
}
.rounded-circle{
width: 180px;
height: 180px;
}
.btn btn-primary mt-3{
float: auto;
}
